site_name: geeadd docs
site_description: Google Earth Engine Asset Manager with Addons

site_author: Samapriya Roy
site_url: https://github.com/samapriya

# Repository
repo_name: gee_asset_manager_addon
repo_url: https://github.com/samapriya/gee_asset_manager_addon

# Copyright
copyright: 'Copyright &copy; 2019 - 2020 Samapriya Roy'


# Options
extra:
  feature:
    tabs: false
  palette:
    primary: amber
    accent: Teal
  social:
    - type: github-alt
      link: https://github.com/samapriya
    - type: medium
      link: https://medium.com/@samapriyaroy
    - type: twitter
      link: https://twitter.com/samapriyaroy
    - type: linkedin
      link: https://www.linkedin.com/in/samapriya

# Configuration
theme:
  name: material
  #custom_dir: mkdocs_alabaster

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  feature:
    tabs: false
  palette:
    primary: red
    accent: blue
  font:
    text: Google Sans
    code: Roboto Mono
  favicon: assets/images/favicon.png
  logo:
    icon: "\uE80C"

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.twemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde


# Page tree
nav:
  - Introduction: index.md
  - License: license.md
  - General Installation: installation.md
  - geeadd tools:
    - Quota tool: projects/quota.md
    - GEE app source: projects/app2script.md
    - Search GEE data catalog: projects/search.md
  - Asset management tools:
    - Copy Assets: projects/copy.md
    - Move Assets: projects/move.md
    - Change asset permissions: projects/access.md
    - Delete assets: projects/delete.md
  - Additional tools:
    - Asset Size: projects/size.md
    - Asset Report: projects/report.md
    - Task status: projects/task_status.md
    - Cancel tasks: projects/cancel_tasks.md
    - Delete asset metadata: projects/delete_metadata.md
  - Changelog: changelog.md
